body {
  margin: 0;
  font-family: 'Lato Regular', sans-serif;
  background-color: #fefefe;
}

.header{
  color: #fff;  
  max-width: 1200px;
  margin: 0 auto;
}

h1{
  font-size: 18px;
  font-weight: 700;
}

h2{
  color: #666D89;
  margin: 0;
} 

h3, h4, h5, h6 {
  margin: 0;
}

.header__wrapper{
  background-color: #2d303a;
  border-bottom: solid 6px #323746;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.logo{
  text-transform: uppercase;
}

.logo span {
  color: #f06c64;
}

.navigation {
  display: flex;
}

.navigation__item{
  list-style: none;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 9px;
}

.slider {
  max-width: 1200px;
  margin: 0 auto;
  height: 600px;
  background-color: #f06c64;
  border-bottom: solid 6px #EA676B;
}

slider__wraper{

}

.services {
  color: #767E9E;
  margin: 0 auto;
  
  background-color: #f2f2f2;
  border-bottom: 6px solid #fff;
  max-width: 1200px;
}
.services__wrapper{
  padding: 51px 30px;
}

.layout-3-column{
  display: flex;
  margin-top: 38px;
}

.column{
  display: flex;
  flex-direction: column;
}

.column__element{
  display: flex;
}

.icon{
  margin-right: 15px;
}
